.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.header {
    font-style: Bold;
    font-size: 26.14px;
    color: #000000;
}

.text {
    font-size: 21.24px;
    color: #767676;
}