.informationTranslationFrom {
    font-size: 20px;
    color: #767676;
}

.informationTranslationTo {
    font-size: 44.17px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

.informationData {
    font-size: 14.7px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #767676;
}