.information-translation-from {
  color: #767676;
  font-size: 20px;
}

.information-translation-to {
  color: #000;
  font-size: 44.17px;
  line-height: 100%;
  letter-spacing: 0%;
}

.information-data {
  color: #767676;
  font-size: 14.7px;
  line-height: 100%;
  letter-spacing: 0%;
}
