.all-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  inline-size: 75%;
  block-size: fit-content;
  padding: 29px 28px 53px;

  background-color: white;
  border-radius: 30px;
}
